set timeout=5
insmod all_video

menuentry "FreeDOS (vmdos)" {
    multiboot /boot/vmdos.elf
    module /boot/dos.img.gz dos.img
}

menuentry "FreeDOS (vmdos), no XMS (Windows 3.1 Setup)" {
    multiboot /boot/vmdos.elf noxms
    module /boot/dos.img.gz dos.img
}
